.version._9ae /* version checker */
{
	color: #000004;
	background-color: #EE241E;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 499px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 71px;
	width: 100%;
	max-width: 381px;
}

#u38779-6
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: -15px;
	width: 97.12%;
}

#u38779-2,#u38779-4
{
	padding-left: 21px;
	padding-top: 2px;
}

#pu38782-4
{
	margin-right: -10000px;
	margin-top: 146px;
	width: 93.71%;
	margin-left: 3.15%;
}

#u38782-4
{
	z-index: 8;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	width: 100%;
}

#u38805
{
	z-index: 12;
	background-color: transparent;
	margin-top: 18px;
	position: relative;
	width: 100%;
}

#u38812
{
	z-index: 14;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
	width: 100%;
}

#u38823
{
	z-index: 16;
	display: block;
	vertical-align: top;
	margin-top: 18px;
	position: relative;
	width: 100%;
}

#u38843
{
	z-index: 18;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
	width: 100%;
}

#u38850
{
	z-index: 20;
	background-color: transparent;
	margin-top: 29px;
	position: relative;
	width: 100%;
}

#u38861
{
	z-index: 22;
	background-color: transparent;
	margin-top: 29px;
	position: relative;
	width: 100%;
}

#u38870
{
	z-index: 24;
	display: block;
	vertical-align: top;
	margin-top: 30px;
	position: relative;
	width: 100%;
}

#u38880
{
	z-index: 26;
	background-color: transparent;
	margin-top: 29px;
	position: relative;
	width: 100%;
}

#u38805_img,#u38812_img,#u38843_img,#u38850_img,#u38861_img,#u38880_img
{
	width: 100%;
}

#u38889-6
{
	z-index: 28;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 29px;
	position: relative;
	width: 100%;
}

#u38889-2
{
	font-weight: bold;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

