.version._9ak /* version checker */
{
	color: #000000;
	background-color: #164059;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 499px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 71px;
	width: 100%;
	max-width: 381px;
}

#u39342-6
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: -15px;
	width: 97.12%;
}

#u39342-2
{
	padding-left: 21px;
	padding-top: 2px;
}

#u39342-4
{
	padding-left: 21px;
}

#pu39345-12
{
	margin-right: -10000px;
	margin-top: 159px;
	width: 93.71%;
	margin-left: 3.15%;
}

#u39345-12
{
	z-index: 8;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	position: relative;
	width: 100%;
}

#u77501
{
	z-index: 22;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 98.6%;
	margin-left: 0.57%;
}

#u77491
{
	z-index: 20;
	background-color: transparent;
	margin-top: 27px;
	position: relative;
	width: 99.16%;
	margin-left: 0.29%;
}

#u77501_img,#u77491_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

