.version._9bca /* version checker */
{
	color: #0000FE;
	background-color: #742C08;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 499px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 71px;
	width: 100%;
	max-width: 381px;
}

#u41261-4
{
	z-index: 2;
	min-height: 125px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 42px;
	color: #FFFFFF;
	line-height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: -15px;
	width: 97.12%;
}

#u41261-2
{
	padding-left: 21px;
	padding-top: 4px;
}

#pu77163
{
	margin-right: -10000px;
	margin-top: 200px;
	width: 94.23%;
	margin-left: 2.89%;
}

#u77163
{
	z-index: 16;
	background-color: transparent;
	position: relative;
	width: 89.98%;
	margin-left: 5.02%;
}

#u41260-4
{
	z-index: 6;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 27px;
	position: relative;
	width: 100%;
}

#u77173
{
	z-index: 18;
	background-color: transparent;
	margin-top: 28px;
	position: relative;
	width: 89.98%;
	margin-left: 5.02%;
}

#u41299-4
{
	z-index: 10;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 28px;
	position: relative;
	width: 100%;
}

#u41302
{
	z-index: 14;
	background-color: transparent;
	margin-top: 18px;
	position: relative;
	width: 99.17%;
	margin-left: 0.84%;
}

#u77163_img,#u77173_img,#u41302_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

