.version._9bdb /* version checker */
{
	color: #0000ED;
	background-color: #394705;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 499px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 71px;
	width: 100%;
	max-width: 381px;
}

#u41494-4
{
	z-index: 2;
	min-height: 125px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: -15px;
	width: 97.12%;
}

#u41494-2
{
	padding-left: 21px;
	padding-top: 12px;
}

#pu41493-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 186px;
	width: 94.23%;
	margin-left: 2.89%;
}

#u41493-4
{
	z-index: 6;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	position: relative;
	width: 100%;
}

#u77237
{
	z-index: 12;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 98.06%;
	margin-left: 1.12%;
}

#u77247
{
	z-index: 14;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 100%;
	margin-left: 0.28%;
}

#u77277
{
	z-index: 18;
	display: block;
	vertical-align: top;
	margin-top: 29px;
	position: relative;
	width: 99.17%;
}

#u77267
{
	z-index: 16;
	display: block;
	vertical-align: top;
	margin-top: 22px;
	position: relative;
	width: 98.61%;
	margin-left: 0.56%;
}

#u41548
{
	z-index: 10;
	background-color: transparent;
	margin-top: 23px;
	position: relative;
	width: 98.33%;
	margin-left: 0.84%;
}

#u77287
{
	z-index: 20;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
	width: 98.61%;
	margin-left: 0.84%;
}

#u77237_img,#u77247_img,#u41548_img,#u77287_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

