.version._9bdc /* version checker */
{
	color: #0000E6;
	background-color: #8F8170;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u41599-4
{
	z-index: 2;
	min-height: 111px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u41599-2
{
	padding-left: 21px;
	padding-top: 8px;
}

#u41596-8
{
	z-index: 6;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 63px;
	position: relative;
	width: 94.23%;
	margin-left: 2.89%;
}

#u41613
{
	z-index: 14;
	background-color: transparent;
	margin-top: 79px;
	position: relative;
	width: 83.99%;
	margin-left: 7.88%;
}

#u41623
{
	z-index: 16;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 86.36%;
	margin-left: 6.83%;
}

#u77317
{
	z-index: 18;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 84.78%;
	margin-left: 7.62%;
}

#u77324
{
	z-index: 20;
	display: block;
	vertical-align: top;
	margin-top: 12px;
	position: relative;
	width: 89.51%;
	margin-left: 5.25%;
}

#u77334
{
	z-index: 22;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 95.02%;
	margin-left: 2.63%;
}

#u77343
{
	z-index: 24;
	background-color: transparent;
	margin-top: 24px;
	position: relative;
	width: 94.23%;
	margin-left: 2.89%;
}

#u41613_img,#u41623_img,#u77317_img,#u77334_img,#u77343_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

