.version._9beb /* version checker */
{
	color: #000002;
	background-color: #158F65;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 499px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 71px;
	width: 100%;
	max-width: 381px;
}

#u41813-4
{
	z-index: 2;
	min-height: 99px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: -15px;
	width: 97.12%;
}

#u41813-2
{
	padding-left: 21px;
	padding-top: 12px;
}

#pu41814-4
{
	margin-right: -10000px;
	margin-top: 168px;
	width: 94.49%;
	margin-left: 2.89%;
}

#u41814-4
{
	z-index: 6;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	position: relative;
	width: 99.73%;
	margin-left: 0.28%;
}

#u41846
{
	z-index: 14;
	background-color: transparent;
	margin-top: 17px;
	position: relative;
	width: 70.84%;
	margin-left: 14.73%;
}

#u41812-4
{
	z-index: 10;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 20px;
	position: relative;
	width: 99.73%;
}

#u41856
{
	z-index: 16;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
	width: 93.89%;
	margin-left: 3.06%;
}

#u41865
{
	z-index: 18;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
	width: 90.84%;
	margin-left: 4.45%;
}

#u41874-6
{
	z-index: 20;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 14px;
	position: relative;
	width: 99.73%;
}

#u41874-2
{
	font-weight: bold;
}

#u41877
{
	z-index: 26;
	background-color: transparent;
	margin-top: 18px;
	position: relative;
	width: 88.34%;
	margin-left: 5.84%;
}

#u41887
{
	z-index: 28;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 96.67%;
	margin-left: 1.67%;
}

#u41897
{
	z-index: 30;
	background-color: transparent;
	margin-top: 17px;
	position: relative;
	width: 96.39%;
	margin-left: 1.67%;
}

#u41846_img,#u41856_img,#u41865_img,#u41877_img,#u41887_img,#u41897_img
{
	width: 100%;
}

#u41906-4
{
	z-index: 32;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 22px;
	position: relative;
	width: 99.73%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

