.version._9bef /* version checker */
{
	color: #0000F1;
	background-color: #7DB74E;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 499px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 71px;
	width: 100%;
	max-width: 381px;
}

#u42279-4
{
	z-index: 2;
	min-height: 125px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: -15px;
	width: 97.12%;
}

#u42279-2
{
	padding-left: 21px;
	padding-top: 4px;
}

#pu42293
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 226px;
	width: 94.76%;
	margin-left: 2.37%;
}

#u42293
{
	z-index: 10;
	background-color: transparent;
	position: relative;
	width: 97.51%;
	margin-left: 1.39%;
}

#u42278-4
{
	z-index: 6;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 23px;
	position: relative;
	width: 99.45%;
	margin-left: 0.56%;
}

#u42303
{
	z-index: 12;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
	width: 100%;
}

#u42293_img,#u42303_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

