.version.index /* version checker */
{
	color: #000007;
	background-color: #711E1E;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	margin-top: -15px;
	padding-bottom: 71px;
	width: 100%;
}

#u38295-4
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 46px;
	position: relative;
	width: 107.88%;
	left: -3.94%;
}

#u38295-2
{
	padding-right: 7px;
	padding-left: 19px;
	padding-top: 10px;
}

#u38296-4
{
	z-index: 6;
	min-height: 173px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 34px;
	position: relative;
	width: 93.71%;
	margin-left: 2.89%;
}

#u40787-4
{
	z-index: 38;
	min-height: 87px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 22px;
	position: relative;
	width: 93.71%;
	margin-left: 2.89%;
}

#u40790-4
{
	z-index: 42;
	min-height: 173px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 25px;
	position: relative;
	width: 93.71%;
	margin-left: 2.89%;
}

#u40793-4
{
	z-index: 46;
	min-height: 87px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 26px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u40796-4
{
	z-index: 50;
	min-height: 173px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 25px;
	position: relative;
	width: 93.71%;
	margin-left: 2.89%;
}

#u40799-4
{
	z-index: 54;
	min-height: 173px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 25px;
	position: relative;
	width: 93.71%;
	margin-left: 2.89%;
}

#u40796-2,#u40799-2
{
	padding-left: 21px;
	padding-top: 45px;
}

#u40802-8
{
	z-index: 58;
	min-height: 173px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 24px;
	position: relative;
	width: 93.71%;
	margin-left: 2.89%;
}

#u40802-2
{
	padding-top: 20px;
}

#u40802-4,#u40802-6
{
	padding-top: 5px;
}

#u40808-6
{
	z-index: 66;
	min-height: 173px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 24px;
	position: relative;
	width: 93.71%;
	margin-left: 2.89%;
}

#u40808-2
{
	padding-top: 30px;
}

#u40808-4
{
	padding-top: 2px;
}

#u40811-6
{
	z-index: 72;
	min-height: 173px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 25px;
	position: relative;
	width: 93.71%;
	margin-left: 2.89%;
}

#u40811-4
{
	padding-bottom: 15px;
}

#u38297-4
{
	z-index: 10;
	min-height: 87px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 26px;
	position: relative;
	width: 93.71%;
	margin-left: 2.89%;
}

#u38299-6
{
	z-index: 14;
	min-height: 146px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 28px;
	margin-top: 25px;
	position: relative;
	width: 93.97%;
	margin-left: 3.15%;
}

#u38300-4
{
	z-index: 20;
	min-height: 87px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 25px;
	position: relative;
	width: 93.71%;
	margin-left: 2.89%;
}

#u38301-6
{
	z-index: 24;
	min-height: 173px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 25px;
	position: relative;
	width: 93.97%;
	margin-left: 2.63%;
}

#u38296-2,#u40811-2,#u38301-2
{
	padding-top: 35px;
}

#u38302-4
{
	z-index: 30;
	min-height: 88px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 24px;
	position: relative;
	width: 93.97%;
	margin-left: 2.63%;
}

#u38304-4
{
	z-index: 34;
	min-height: 146px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 27px;
	position: relative;
	width: 93.97%;
	margin-left: 2.63%;
}

#u77670-4
{
	z-index: 82;
	min-height: 146px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 25px;
	position: relative;
	width: 93.97%;
	margin-left: 2.89%;
}

#u40790-2,#u38299-2,#u38299-4,#u38304-2,#u77670-2
{
	padding-top: 25px;
}

#u50418-4
{
	z-index: 78;
	min-height: 87px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 25px;
	position: relative;
	width: 93.97%;
	margin-left: 2.89%;
}

#u40787-2,#u40793-2,#u38297-2,#u38300-2,#u38302-2,#u50418-2
{
	padding-bottom: 15px;
	padding-top: 15px;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

