.version._7ao /* version checker */
{
	color: #000008;
	background-color: #1110D9;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.75px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 0px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u34209-8
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	color: #FFFFFF;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u34209-4
{
	font-size: 32px;
	line-height: 38px;
	padding-left: 21px;
	padding-top: 7px;
}

#u34209-2,#u34209-6
{
	font-size: 40px;
	line-height: 48px;
	padding-left: 21px;
	padding-top: 7px;
}

#u34208-4
{
	z-index: 10;
	background-color: transparent;
	text-align: justify;
	font-size: 24px;
	line-height: 29px;
	margin-top: 38px;
	position: relative;
	width: 92.66%;
	margin-left: 3.42%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

