.version._10aaa /* version checker */
{
	color: #0000FA;
	background-color: #81060F;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u43191-4
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u43191-2
{
	padding-left: 21px;
	padding-top: 8px;
}

#u43192-4
{
	z-index: 6;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 69px;
	position: relative;
	width: 94.23%;
	margin-left: 2.89%;
}

#u43194
{
	z-index: 10;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
	width: 92.39%;
	margin-left: 3.68%;
}

#u43194_img
{
	width: 100%;
}

#u43204
{
	z-index: 12;
	display: block;
	vertical-align: top;
	margin-top: 19px;
	position: relative;
	width: 92.39%;
	margin-left: 3.94%;
}

#u43217-16
{
	z-index: 14;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	margin-top: 25px;
	position: relative;
	width: 94.23%;
	margin-left: 2.89%;
}

#u43217-2,#u43217-7,#u43217-12
{
	text-align: center;
	font-weight: bold;
}

#u43217-4,#u43217-5,#u43217-9,#u43217-10,#u43217-14
{
	text-align: justify;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

