.version._10aah /* version checker */
{
	color: #000008;
	background-color: #EED427;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.9536036036037px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 0px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u43340-4
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u43340-2
{
	padding-left: 29px;
	padding-top: 8px;
}

#u43341-20
{
	z-index: 6;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 43px;
	position: relative;
	width: 94.23%;
	margin-left: 2.89%;
}

#u43341-2
{
	text-align: justify;
}

#u43341-3,#u43341-7,#u43341-15
{
	text-align: center;
}

#u43341-6,#u43341-10,#u43341-11,#u43341-14,#u43341-18
{
	text-align: left;
}

#u43341-4,#u43341-8,#u43341-12,#u43341-16
{
	font-weight: bold;
}

#u43354
{
	z-index: 26;
	display: block;
	vertical-align: top;
	margin-top: 17px;
	position: relative;
	width: 90.56%;
	margin-left: 4.73%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

