.version._10aca /* version checker */
{
	color: #0000F4;
	background-color: #F3E6F5;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.9000000000001px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 0px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u43947-4
{
	z-index: 2;
	min-height: 68px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u43947-2
{
	padding-left: 22px;
	padding-top: 8px;
}

#u43948-10
{
	z-index: 6;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 30px;
	position: relative;
	width: 94.23%;
	margin-left: 2.89%;
}

#u43963
{
	z-index: 35;
	background-color: transparent;
	margin-top: 18px;
	position: relative;
	width: 88.98%;
	margin-left: 5.52%;
}

#u43942-19
{
	z-index: 16;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 28px;
	position: relative;
	width: 94.23%;
	margin-left: 2.89%;
}

#u43973
{
	z-index: 37;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 95.54%;
	margin-left: 2.37%;
}

#u43963_img,#u43973_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

