.version._10acd /* version checker */
{
	color: #000006;
	background-color: #F96B48;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u44142-4
{
	z-index: 2;
	min-height: 74px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u44142-2
{
	padding-left: 22px;
	padding-top: 8px;
}

#u44139-18
{
	z-index: 6;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 35px;
	position: relative;
	width: 94.23%;
	margin-left: 2.89%;
}

#u44139-4,#u44139-9,#u44139-14
{
	font-weight: bold;
}

#u44178
{
	z-index: 24;
	background-color: transparent;
	margin-top: 17px;
	position: relative;
	width: 95.02%;
	margin-left: 2.89%;
}

#u44178_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

