.version._10da_1 /* version checker */
{
	color: #000000;
	background-color: #1C0A38;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u43839-4
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u43839-2
{
	padding-left: 22px;
	padding-top: 8px;
}

#u43840-20
{
	z-index: 6;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 38px;
	position: relative;
	width: 94.23%;
	margin-left: 2.89%;
}

#u43840-5
{
	text-align: center;
	font-weight: bold;
}

#u43844
{
	z-index: 26;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
	width: 95.02%;
	margin-left: 2.63%;
}

#u43854-11
{
	z-index: 28;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 19px;
	position: relative;
	width: 94.23%;
	margin-left: 2.89%;
}

#u43854-4
{
	text-align: left;
	font-weight: bold;
}

#u43840,#u43854-5
{
	text-align: left;
}

#u43863
{
	z-index: 39;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
	width: 94.49%;
	margin-left: 2.63%;
}

#u43875-7
{
	z-index: 41;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 21px;
	position: relative;
	width: 94.23%;
	margin-left: 2.89%;
}

#u43878
{
	z-index: 48;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 95.28%;
	margin-left: 2.37%;
}

#u43887-13
{
	z-index: 50;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 21px;
	position: relative;
	width: 94.23%;
	margin-left: 2.89%;
}

#u43840-9,#u43887-2,#u43887-4
{
	text-align: center;
}

#u43840-7,#u43854-2,#u43887,#u43887-3
{
	font-weight: bold;
}

#u43840-2,#u43840-3,#u43840-10,#u43840-12,#u43840-13,#u43840-15,#u43840-16,#u43840-18,#u43887-5,#u43887-7,#u43887-9,#u43887-11
{
	text-align: justify;
}

#u43890
{
	z-index: 63;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 93.71%;
	margin-left: 3.68%;
}

#u43844_img,#u43863_img,#u43878_img,#u43890_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

