.version._10w /* version checker */
{
	color: #0000F8;
	background-color: #F70060;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.8876545000003px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 0px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u45152-4
{
	z-index: 2;
	min-height: 69px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u45152-2
{
	padding-left: 22px;
	padding-top: 8px;
}

#u45155-12
{
	z-index: 6;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 52px;
	position: relative;
	width: 93.44%;
	margin-left: 3.42%;
}

#u45158
{
	z-index: 18;
	background-color: transparent;
	margin-top: 29px;
	position: relative;
	width: 93.44%;
	margin-left: 3.15%;
}

#u45158_img
{
	width: 100%;
}

#u45168-34
{
	z-index: 20;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 20px;
	position: relative;
	width: 93.44%;
	margin-left: 3.15%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

