.version._4ba /* version checker */
{
	color: #00000B;
	background-color: #5E2918;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.4999999999998px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 1px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 197px;
	width: 100%;
}

#u16839-6
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u16839-2,#u16839-4
{
	padding-left: 21px;
	padding-top: 2px;
}

#u16844-4
{
	z-index: 8;
	background-color: transparent;
	text-align: justify;
	font-size: 24px;
	line-height: 29px;
	margin-top: 30px;
	position: relative;
	width: 93.18%;
	margin-left: 3.42%;
}

#u16869
{
	z-index: 12;
	display: block;
	vertical-align: top;
	margin-top: 25px;
	position: relative;
	width: 93.18%;
	margin-left: 3.42%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

