.version._4bd /* version checker */
{
	color: #0000E6;
	background-color: #D65EB7;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u16957-4
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u16957-2
{
	padding-left: 16px;
	padding-top: 9px;
}

#u16955-7
{
	z-index: 6;
	background-color: transparent;
	text-align: justify;
	font-size: 24px;
	line-height: 29px;
	margin-top: 30px;
	position: relative;
	width: 93.18%;
	margin-left: 3.42%;
}

#u16955-2,#u16955-3
{
	font-weight: bold;
}

#u78019
{
	z-index: 23;
	display: block;
	vertical-align: top;
	margin-top: 25px;
	position: relative;
	width: 90.56%;
	margin-left: 4.73%;
}

#u16956-10
{
	z-index: 13;
	background-color: transparent;
	text-align: justify;
	font-size: 24px;
	line-height: 29px;
	margin-top: 25px;
	position: relative;
	width: 93.18%;
	margin-left: 4.47%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

