.version._4bj /* version checker */
{
	color: #0000F8;
	background-color: #5040EE;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.8351549909721px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 0px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u17333-4
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u17333-2
{
	padding-left: 21px;
	padding-top: 2px;
}

#u17336
{
	z-index: 6;
	background-color: transparent;
	margin-top: 30px;
	position: relative;
	width: 87.67%;
	margin-left: 6.04%;
}

#u17336_img
{
	width: 100%;
}

#u17349-15
{
	z-index: 8;
	min-height: 67px;
	background-color: transparent;
	text-align: justify;
	font-size: 24px;
	line-height: 29px;
	margin-top: 25px;
	position: relative;
	width: 87.67%;
	margin-left: 6.04%;
}

#u17349-11
{
	font-weight: bold;
}

#u17352
{
	z-index: 23;
	display: block;
	vertical-align: top;
	margin-top: 26px;
	position: relative;
	width: 87.67%;
	margin-left: 6.04%;
}

#u17362
{
	z-index: 25;
	display: block;
	vertical-align: top;
	margin-top: 25px;
	position: relative;
	width: 87.14%;
	margin-left: 6.57%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

