.version._4bm /* version checker */
{
	color: #000003;
	background-color: #767AC9;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.6426709851726px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 0px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u17460-6
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u17460-2,#u17460-4
{
	padding-left: 21px;
	padding-top: 2px;
}

#u17465
{
	z-index: 12;
	display: block;
	vertical-align: top;
	margin-top: 30px;
	position: relative;
	width: 89.77%;
	margin-left: 5.25%;
}

#u17461-4
{
	z-index: 8;
	min-height: 64px;
	background-color: transparent;
	text-align: left;
	font-size: 24px;
	line-height: 29px;
	margin-top: 24px;
	position: relative;
	width: 89.77%;
	margin-left: 5.25%;
}

#u17483
{
	z-index: 14;
	display: block;
	vertical-align: top;
	margin-top: 25px;
	position: relative;
	width: 89.77%;
	margin-left: 5.25%;
}

#u17504-4
{
	z-index: 18;
	min-height: 57px;
	background-color: transparent;
	text-align: justify;
	font-size: 28px;
	line-height: 34px;
	margin-top: 24px;
	position: relative;
	width: 89.77%;
	margin-left: 5.25%;
}

#u17492
{
	z-index: 16;
	display: block;
	vertical-align: top;
	margin-top: 25px;
	position: relative;
	width: 89.77%;
	margin-left: 5.25%;
}

#u17507-12
{
	z-index: 22;
	min-height: 57px;
	background-color: transparent;
	text-align: justify;
	font-size: 28px;
	line-height: 34px;
	margin-top: 25px;
	position: relative;
	width: 89.77%;
	margin-left: 5.25%;
}

#u77752-25
{
	z-index: 34;
	min-height: 64px;
	background-color: transparent;
	text-align: justify;
	font-size: 24px;
	line-height: 29px;
	margin-top: 24px;
	position: relative;
	width: 89.77%;
	margin-left: 5.25%;
}

#u17507-2,#u17507-4,#u17507-6,#u17507-8,#u77752-2,#u77752-10,#u77752-16,#u77752-17,#u77752-19,#u77752-20,#u77752-21,#u77752-22
{
	font-weight: bold;
}

#u77755
{
	z-index: 59;
	display: block;
	vertical-align: top;
	margin-top: 34px;
	position: relative;
	width: 89.77%;
	margin-left: 5.25%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

