.version._3a_b /* version checker */
{
	color: #000007;
	background-color: #12215E;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u36573-4
{
	z-index: 2;
	min-height: 124px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u36573-2
{
	padding-left: 21px;
	padding-top: 11px;
}

#u36610
{
	z-index: 6;
	display: block;
	vertical-align: top;
	margin-top: 50px;
	position: relative;
	width: 86.09%;
	margin-left: 6.3%;
}

#u36619-8
{
	z-index: 8;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 33px;
	position: relative;
	width: 93.97%;
	margin-left: 2.37%;
}

#u36622
{
	z-index: 16;
	display: block;
	vertical-align: top;
	margin-top: 22px;
	position: relative;
	width: 86.09%;
	margin-left: 7.09%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

