.version._8bb /* version checker */
{
	color: #0000F7;
	background-color: #D0F77D;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u35325-4
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u35325-2
{
	padding-left: 21px;
	padding-top: 11px;
}

#u35346
{
	z-index: 6;
	background-color: transparent;
	margin-top: 50px;
	position: relative;
	width: 89.51%;
	margin-left: 5.25%;
}

#u35346_img
{
	width: 100%;
}

#u35388-4
{
	z-index: 8;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 18px;
	position: relative;
	width: 93.97%;
	margin-left: 2.89%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

