.version._1a_g /* version checker */
{
	color: #0000F7;
	background-color: #B3DE85;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.9845697329367px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 0px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 14px;
	padding-bottom: 71px;
	width: 100%;
}

#u19728-6
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	color: #FFFFFF;
	font-size: 40px;
	line-height: 40px;
	position: relative;
	width: 96.33%;
	left: -3.94%;
}

#u19728-2
{
	text-indent: 8px;
	padding-left: 16px;
	padding-top: 9px;
}

#u19728-4
{
	text-indent: 6px;
	padding-left: 16px;
	padding-top: 9px;
}

#u19731-6
{
	z-index: 8;
	min-height: 204px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	margin-top: 30px;
	position: relative;
	width: 95.28%;
	margin-left: 2.37%;
}

#u19734
{
	z-index: 14;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 79.01%;
	margin-left: 10.5%;
}

#u19734_img
{
	width: 100%;
}

#u77536
{
	z-index: 22;
	display: block;
	vertical-align: top;
	margin-top: 27px;
	position: relative;
	width: 79.01%;
	margin-left: 10.5%;
}

#u19752-4
{
	z-index: 16;
	min-height: 146px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	margin-top: 26px;
	position: relative;
	width: 95.02%;
	margin-left: 2.37%;
}

#u19755
{
	z-index: 20;
	display: block;
	vertical-align: top;
	margin-top: 24px;
	position: relative;
	width: 95.02%;
	margin-left: 2.37%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

