.version._1a_n /* version checker */
{
	color: #000012;
	background-color: #569F58;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.6786373767818px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 0px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 14px;
	padding-bottom: 81px;
	width: 100%;
}

#u19521-4
{
	z-index: 2;
	min-height: 85px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	line-height: 40px;
	color: #FFFFFF;
	position: relative;
	width: 96.33%;
	left: -3.94%;
}

#u19521-2
{
	padding-left: 16px;
	padding-top: 9px;
}

#u19524-4
{
	z-index: 6;
	min-height: 125px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	margin-top: 34px;
	position: relative;
	width: 92.92%;
	margin-left: 3.42%;
}

#u24962
{
	z-index: 10;
	background-color: transparent;
	margin-top: 17px;
	position: relative;
	width: 67.72%;
	margin-left: 16.02%;
}

#u24962_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

