.version._1a_o /* version checker */
{
	color: #000006;
	background-color: #E4995A;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.5999999999999px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 0px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 14px;
	padding-bottom: 71px;
	width: 100%;
}

#u19443-6
{
	z-index: 2;
	min-height: 96px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	color: #FFFFFF;
	font-size: 40px;
	line-height: 40px;
	text-indent: 6px;
	position: relative;
	width: 96.33%;
	left: -3.94%;
}

#u19443-2,#u19443-4
{
	padding-left: 16px;
	padding-top: 5px;
}

#u19446-8
{
	z-index: 8;
	min-height: 147px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	margin-top: 58px;
	position: relative;
	width: 93.97%;
	margin-left: 2.63%;
}

#u19446-6 > li:before
{
	content: '•';
}

#u19446-5
{
	padding-left: 10px;
}

#u19446-6 > #u19446-5:before
{
	color: #FF0000;
	margin-right: -4px;
}

#u19446-6.rtl-list > #u19446-5:before
{
	margin-right: 0px;
	margin-left: -4px;
}

#u19449
{
	z-index: 16;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-top: 16px;
	position: relative;
	width: 89.77%;
	margin-left: 4.99%;
}

#u19459-6
{
	z-index: 18;
	min-height: 181px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	margin-top: 18px;
	position: relative;
	width: 89.77%;
	margin-left: 4.99%;
}

#u24990
{
	z-index: 47;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 82.94%;
	margin-left: 8.67%;
}

#u24987-7
{
	z-index: 40;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	margin-top: 105px;
	position: relative;
	width: 89.77%;
	margin-left: 5.25%;
}

#u19446,#u24987
{
	color: #FF0000;
	font-weight: bold;
}

#u19462
{
	z-index: 24;
	display: block;
	vertical-align: top;
	margin-top: 25px;
	position: relative;
	width: 91.34%;
	margin-left: 4.99%;
}

#u19472-6
{
	z-index: 26;
	min-height: 151px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	margin-top: 20px;
	position: relative;
	width: 89.77%;
	margin-left: 4.99%;
}

#u25000
{
	z-index: 49;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 81.11%;
	margin-left: 8.67%;
}

#u25010-7
{
	z-index: 51;
	background-color: transparent;
	line-height: 29px;
	color: #000000;
	font-size: 24px;
	text-align: left;
	margin-top: 105px;
	position: relative;
	width: 89.77%;
	margin-left: 4.2%;
}

#u25010-2
{
	font-weight: bold;
}

#u19475
{
	z-index: 32;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-top: 26px;
	position: relative;
	width: 89.77%;
	margin-left: 4.2%;
}

#u19485-6
{
	z-index: 34;
	min-height: 62px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	margin-top: 25px;
	position: relative;
	width: 89.77%;
	margin-left: 4.47%;
}

#u19446-3,#u19459-4 > #u19459-3:before,#u19459,#u24987-5 > #u24987-2:before,#u19472-4 > #u19472-3:before,#u19472,#u25010-5 > #u25010-2:before,#u25010,#u19485-4 > #u19485-3:before,#u19485
{
	color: #FF0000;
}

#u24987-3,#u19472-2,#u25010-3,#u19485-2
{
	text-align: left;
}

#u25013
{
	z-index: 58;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 89.77%;
	margin-left: 4.2%;
}

#u19449_img,#u24990_img,#u25000_img,#u19475_img,#u25013_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

