.version._1b_g /* version checker */
{
	color: #0000E3;
	background-color: #F8C163;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 17px;
	padding-bottom: 71px;
	width: 100%;
}

#u7180-6
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	position: relative;
	width: 96.33%;
	left: -3.94%;
}

#u7180-2,#u7180-4
{
	padding-left: 16px;
}

#u7179-7
{
	z-index: 8;
	min-height: 62px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 68px;
	position: relative;
	width: 92.92%;
	margin-left: 3.42%;
}

#u77873
{
	z-index: 19;
	background-color: transparent;
	margin-top: 34px;
	position: relative;
	width: 92.39%;
	margin-left: 3.68%;
}

#u77873_img
{
	width: 100%;
}

#u7223-4
{
	z-index: 15;
	min-height: 36px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	margin-top: 14px;
	position: relative;
	width: 89.77%;
	margin-left: 4.99%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

