.version._1b_l_copy /* version checker */
{
	color: #0000EE;
	background-color: #80C342;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.6324561403508px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 0px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 17px;
	padding-bottom: 71px;
	width: 100%;
}

#u80259-4
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 36px;
	line-height: 43px;
	color: #FFFFFF;
	position: relative;
	width: 96.33%;
	left: -3.94%;
}

#u80259-2
{
	padding-left: 16px;
	padding-top: 9px;
}

#u80265-13
{
	z-index: 6;
	min-height: 62px;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	margin-top: 51px;
	position: relative;
	width: 92.39%;
	margin-left: 3.68%;
}

#u80265-8
{
	font-weight: bold;
	font-style: italic;
}

#u80285
{
	z-index: 21;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 90.03%;
	margin-left: 4.99%;
}

#u80275
{
	z-index: 19;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 96.07%;
	margin-left: 1.84%;
}

#u80285_img,#u80275_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

