.version._1c_a /* version checker */
{
	color: #000010;
	background-color: #DE00DF;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 15px;
	padding-bottom: 65px;
	width: 100%;
}

#u8090-7
{
	z-index: 2;
	min-height: 120px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 36px;
	line-height: 43px;
	color: #FFFFFF;
	position: relative;
	width: 96.33%;
	left: -3.94%;
}

#u8090-3
{
	padding-left: 16px;
	padding-top: 7px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8090
{
	font-size: 40px;
	line-height: 48px;
}

#u8090-2
{
	line-height: 43px;
}

#u8090-5
{
	padding-left: 16px;
	padding-top: 7px;
}

#u2534-9
{
	z-index: 9;
	min-height: 223px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 44px;
	position: relative;
	width: 92.92%;
	margin-left: 3.68%;
}

#u80720
{
	z-index: 105;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 90.03%;
	margin-left: 4.99%;
}

#u9356
{
	z-index: 18;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 38.85%;
	margin-left: 33.34%;
}

#u9363
{
	z-index: 20;
	background-color: transparent;
	margin-top: 44px;
	position: relative;
	width: 89.77%;
	margin-left: 4.47%;
}

#u9374-8
{
	z-index: 22;
	background-color: transparent;
	color: #1976D2;
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
	margin-top: 26px;
	position: relative;
	width: 92.92%;
	margin-left: 2.89%;
}

#u9374-2,#u9374-4,#u9374-6
{
	padding-left: 16px;
}

#u9377
{
	z-index: 30;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
	width: 83.21%;
	margin-left: 7.88%;
}

#u9384-8
{
	z-index: 32;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 19px;
	position: relative;
	width: 92.92%;
	margin-left: 3.42%;
}

#u9384-4
{
	font-style: italic;
}

#u80321
{
	z-index: 99;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
	width: 69.82%;
	margin-left: 14.97%;
}

#u9389
{
	z-index: 40;
	display: block;
	vertical-align: top;
	margin-top: 19px;
	position: relative;
	width: 77.17%;
	margin-left: 12.34%;
}

#u9405-9
{
	z-index: 42;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 14px;
	position: relative;
	width: 92.92%;
	margin-left: 3.68%;
}

#u9405-2,#u9405-4
{
	font-weight: bold;
	font-style: italic;
}

#u80328
{
	z-index: 101;
	background-color: transparent;
	margin-top: 24px;
	position: relative;
	width: 67.98%;
	margin-left: 18.64%;
}

#u80338
{
	z-index: 103;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 74.55%;
	margin-left: 15.23%;
}

#u9426-4
{
	z-index: 51;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	color: #1976D2;
	margin-top: 28px;
	position: relative;
	width: 97.38%;
	margin-left: 1.32%;
}

#u9429-5
{
	z-index: 55;
	width: 173px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 22px;
	position: relative;
	margin-left: 1.32%;
}

#u78087
{
	z-index: 95;
	background-color: transparent;
	margin-top: 21px;
	position: relative;
	width: 70.35%;
	margin-left: 17.33%;
}

#u9436
{
	z-index: 62;
	display: block;
	vertical-align: top;
	margin-top: 16px;
	position: relative;
	width: 71.92%;
	margin-left: 17.33%;
}

#u9438-5
{
	z-index: 64;
	width: 200px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 50px;
	position: relative;
	margin-left: 1.32%;
}

#u78097
{
	z-index: 97;
	background-color: transparent;
	margin-top: 23px;
	position: relative;
	width: 70.35%;
	margin-left: 18.64%;
}

#u80720_img,#u9356_img,#u9363_img,#u9377_img,#u80321_img,#u80328_img,#u80338_img,#u78087_img,#u78097_img
{
	width: 100%;
}

#u9432
{
	z-index: 60;
	display: block;
	vertical-align: top;
	margin-top: 23px;
	position: relative;
	width: 71.92%;
	margin-left: 18.64%;
}

#u9471-4
{
	z-index: 69;
	background-color: transparent;
	color: #1976D2;
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
	margin-top: 19px;
	position: relative;
	width: 92.66%;
	margin-left: 3.68%;
}

#u9426-2,#u9471-2
{
	padding-left: 18px;
}

#u9474-20
{
	z-index: 73;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	margin-top: 32px;
	position: relative;
	width: 91.08%;
	margin-left: 4.47%;
}

#u9477
{
	z-index: 93;
	display: block;
	vertical-align: top;
	margin-top: 12px;
	position: relative;
	width: 92.66%;
	margin-left: 4.47%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

