.version._1c_d /* version checker */
{
	color: #0000E7;
	background-color: #4060A3;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.162088974855px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 1px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 10px;
	padding-bottom: 71px;
	width: 100%;
}

#u2863
{
	z-index: 2;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	padding-bottom: 16px;
	position: relative;
	width: 96.33%;
	left: -3.94%;
}

#u2866-4
{
	z-index: 3;
	width: 211px;
	min-height: 32px;
	background-color: transparent;
	font-size: 40px;
	line-height: 54px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 4.09%;
}

#u2866-2
{
	padding-top: 2px;
}

#u2869-5
{
	z-index: 7;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 51px;
	position: relative;
	width: 92.66%;
	margin-left: 3.68%;
}

#u25374
{
	z-index: 14;
	background-color: transparent;
	margin-top: 23px;
	position: relative;
	width: 87.14%;
	margin-left: 7.35%;
}

#u2875
{
	z-index: 12;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
	width: 81.63%;
	margin-left: 9.98%;
}

#u25374_img,#u2875_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

