.version._1c_eb /* version checker */
{
	color: #00000A;
	background-color: #333E65;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 7px;
	padding-bottom: 71px;
	width: 100%;
}

#u8120-4
{
	z-index: 2;
	min-height: 119px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u8120-2
{
	padding-left: 16px;
	padding-top: 9px;
}

#u3114-5
{
	z-index: 6;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 47px;
	position: relative;
	width: 92.92%;
	margin-left: 3.68%;
}

#u78162
{
	z-index: 13;
	background-color: transparent;
	margin-top: 26px;
	position: relative;
	width: 90.03%;
	margin-left: 4.99%;
}

#u25409
{
	z-index: 11;
	background-color: transparent;
	margin-top: 26px;
	position: relative;
	width: 77.17%;
	margin-left: 11.29%;
}

#u78162_img,#u25409_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

