.version._1d_aa /* version checker */
{
	color: #0000F2;
	background-color: #4E3A58;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.6679012345672px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 0px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 13px;
	padding-bottom: 71px;
	width: 100%;
}

#u5464-4
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	position: relative;
	width: 93.71%;
	left: -3.94%;
}

#u5464-2
{
	padding-left: 16px;
	padding-top: 9px;
}

#u5467-5
{
	z-index: 6;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 28px;
	position: relative;
	width: 93.44%;
	margin-left: 3.42%;
}

#u5470
{
	z-index: 11;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
	width: 92.92%;
	margin-left: 3.15%;
}

#u5470_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

