.version._1d_l /* version checker */
{
	color: #00001A;
	background-color: #981449;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.7876544999999px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 0px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 8px;
	padding-bottom: 71px;
	width: 100%;
}

#u4977-4
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	position: relative;
	width: 93.71%;
	left: -3.94%;
}

#u4977-2
{
	padding-left: 16px;
}

#u4980-5
{
	z-index: 6;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 69px;
	position: relative;
	width: 96.33%;
	margin-left: 1.84%;
}

#u78625
{
	z-index: 11;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 84.78%;
	margin-left: 7.62%;
}

#u78625_img
{
	width: 100%;
}

#u80636-5
{
	z-index: 13;
	background-color: transparent;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	margin-top: 61px;
	position: relative;
	width: 96.33%;
	margin-left: 1.84%;
}

#u80636-2
{
	font-weight: bold;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

