.version._1d_p /* version checker */
{
	color: #0000FE;
	background-color: #6D8719;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 8px;
	padding-bottom: 71px;
	width: 100%;
}

#u5109-4
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	position: relative;
	width: 93.71%;
	left: -3.94%;
}

#u5109-2
{
	padding-left: 16px;
}

#u25758-5
{
	z-index: 14;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 31px;
	position: relative;
	width: 95.54%;
	margin-left: 1.84%;
}

#u78635
{
	z-index: 19;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	margin-top: 23px;
	position: relative;
	width: 64.31%;
	margin-left: 17.59%;
}

#u5112-8
{
	z-index: 6;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 22px;
	position: relative;
	width: 95.02%;
	margin-left: 2.63%;
}

#u79340
{
	z-index: 21;
	background-color: transparent;
	margin-top: 27px;
	position: relative;
	width: 64.31%;
	margin-left: 17.85%;
}

#u79349
{
	z-index: 23;
	background-color: transparent;
	margin-top: 43px;
	position: relative;
	width: 64.05%;
	margin-left: 17.85%;
}

#u78635_img,#u79340_img,#u79349_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

