.version._1d_s /* version checker */
{
	color: #0000EF;
	background-color: #F61EF7;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 8px;
	padding-bottom: 71px;
	width: 100%;
}

#u5207-4
{
	z-index: 2;
	min-height: 109px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	position: relative;
	width: 93.71%;
	left: -3.94%;
}

#u5207-2
{
	padding-left: 16px;
	padding-top: 3px;
}

#u5210-4
{
	z-index: 6;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 47px;
	position: relative;
	width: 93.44%;
	margin-left: 3.42%;
}

#u80975
{
	z-index: 18;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
	width: 93.18%;
	margin-left: 3.42%;
}

#u81291
{
	z-index: 20;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
	width: 91.34%;
	margin-left: 4.2%;
}

#u80975_img,#u81291_img
{
	width: 100%;
}

#u5245-4
{
	z-index: 10;
	background-color: transparent;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	margin-top: 44px;
	position: relative;
	width: 93.44%;
	margin-left: 3.42%;
}

#u5248-4
{
	z-index: 14;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 9px;
	position: relative;
	width: 93.44%;
	margin-left: 3.42%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

