.version._1d_t /* version checker */
{
	color: #000007;
	background-color: #894B14;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.7876544999999px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 0px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 8px;
	padding-bottom: 71px;
	width: 100%;
}

#u5251-4
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	position: relative;
	width: 93.71%;
	left: -3.94%;
}

#u5251-2
{
	padding-left: 16px;
	padding-top: 9px;
}

#u5254-5
{
	z-index: 6;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 27px;
	position: relative;
	width: 94.23%;
	margin-left: 2.89%;
}

#u5257
{
	z-index: 15;
	display: block;
	vertical-align: top;
	margin-top: 25px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u5267-4
{
	z-index: 17;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 26px;
	position: relative;
	width: 94.23%;
	margin-left: 3.15%;
}

#u83440
{
	z-index: 21;
	display: block;
	vertical-align: top;
	margin-top: 22px;
	position: relative;
	width: 94.23%;
	margin-left: 2.89%;
}

#u5270-4
{
	z-index: 11;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 21px;
	position: relative;
	width: 94.23%;
	margin-left: 2.89%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

