.version._1d_u /* version checker */
{
	color: #00000C;
	background-color: #F0B030;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 8px;
	padding-bottom: 71px;
	width: 100%;
}

#u5273-6
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	position: relative;
	width: 93.71%;
	left: -3.94%;
}

#u5273-2,#u5273-4
{
	padding-left: 16px;
}

#u5276-5
{
	z-index: 8;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 30px;
	position: relative;
	width: 95.81%;
	margin-left: 1.84%;
}

#u5279
{
	z-index: 13;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 95.81%;
	margin-left: 1.84%;
}

#u5279_img
{
	width: 100%;
}

#u5289-5
{
	z-index: 15;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 25px;
	position: relative;
	width: 95.81%;
	margin-left: 1.84%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

