.version._1ea /* version checker */
{
	color: #0000F2;
	background-color: #2E2C92;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.7876544999999px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 0px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 8px;
	padding-bottom: 71px;
	width: 100%;
}

#u18569-6
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	position: relative;
	width: 93.71%;
	left: -3.94%;
}

#u18569-2,#u18569-4
{
	padding-left: 16px;
}

#u18570-52
{
	z-index: 8;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 55px;
	position: relative;
	width: 94.76%;
	margin-left: 2.63%;
}

#u18570-11 > li:before
{
	content: '•';
}

#u18570-32
{
	color: #1976D2;
}

#u18570-36,#u18570-38,#u18570-39
{
	text-align: center;
	font-weight: bold;
}

#u18570-41
{
	text-align: justify;
	font-weight: normal;
}

#u18570,#u18570-7,#u18570-12,#u18570-18,#u18570-24,#u18570-26,#u18570-43,#u18570-45
{
	font-weight: bold;
}

#u18570-3,#u18570-19,#u18570-25,#u18570-27,#u18570-33,#u18570-34,#u18570-44,#u18570-47,#u18570-48
{
	text-align: center;
}

#u18570-5,#u18570-6,#u18570-8,#u18570-10,#u18570-13,#u18570-15,#u18570-17,#u18570-21,#u18570-22,#u18570-23,#u18570-28,#u18570-30,#u18570-31,#u18570-42,#u18570-50
{
	text-align: justify;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

