.version._1ei /* version checker */
{
	color: #0000FE;
	background-color: #8B05B5;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 8px;
	padding-bottom: 71px;
	width: 100%;
}

#u8484-6
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	position: relative;
	width: 93.71%;
	left: -3.94%;
}

#u8484-2,#u8484-4
{
	padding-left: 16px;
}

#u8487
{
	z-index: 8;
	background-color: transparent;
	margin-top: 85px;
	position: relative;
	width: 94.76%;
	margin-left: 2.63%;
}

#u8497-21
{
	z-index: 10;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 25px;
	position: relative;
	width: 94.76%;
	margin-left: 2.63%;
}

#u8500
{
	z-index: 31;
	background-color: transparent;
	margin-top: 28px;
	position: relative;
	width: 96.07%;
	margin-left: 1.84%;
}

#u8500_img
{
	padding-bottom: 1px;
	width: 100%;
}

#u79215
{
	z-index: 33;
	background-color: transparent;
	margin-top: 18px;
	position: relative;
	width: 63.26%;
	margin-left: 18.38%;
}

#u8487_img,#u79215_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

