.version._1ej /* version checker */
{
	color: #00000B;
	background-color: #EA8394;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 8px;
	padding-bottom: 71px;
	width: 100%;
}

#u8535-6
{
	z-index: 2;
	min-height: 199px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	position: relative;
	width: 93.71%;
	left: -3.94%;
}

#u8535-2,#u8535-4
{
	padding-left: 16px;
}

#u8536-8
{
	z-index: 8;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 71px;
	position: relative;
	width: 92.66%;
	margin-left: 3.68%;
}

#u8540
{
	z-index: 16;
	background-color: transparent;
	margin-top: 17px;
	position: relative;
	width: 93.71%;
	margin-left: 3.42%;
}

#u8540_img
{
	width: 100%;
}

#u8550-7
{
	z-index: 18;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 33px;
	position: relative;
	width: 92.66%;
	margin-left: 4.2%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

