.version._3af /* version checker */
{
	color: #0000FE;
	background-color: #577AD2;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.4075163398687px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 1px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u13570-4
{
	z-index: 2;
	min-height: 121px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u13570-2
{
	padding-left: 16px;
	padding-top: 10px;
}

#u13569-4
{
	z-index: 6;
	min-height: 119px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 29px;
	position: relative;
	width: 90.82%;
	margin-left: 4.47%;
}

#u13632
{
	z-index: 10;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 83.21%;
	margin-left: 8.4%;
}

#u78696
{
	z-index: 14;
	display: block;
	vertical-align: top;
	margin-top: 26px;
	position: relative;
	width: 90.82%;
	margin-left: 4.47%;
}

#u13652
{
	z-index: 12;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 77.96%;
	margin-left: 11.03%;
}

#u13632_img,#u13652_img
{
	width: 100%;
}

#u78706
{
	z-index: 16;
	display: block;
	vertical-align: top;
	margin-top: 25px;
	position: relative;
	width: 85.04%;
	margin-left: 7.35%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

