.version._3ag /* version checker */
{
	color: #0000F6;
	background-color: #3C1E0A;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.75px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 0px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u13683-4
{
	z-index: 2;
	min-height: 169px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u13683-2
{
	padding-left: 16px;
	padding-top: 9px;
}

#u13688-4
{
	z-index: 6;
	min-height: 119px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 28px;
	position: relative;
	width: 90.82%;
	margin-left: 4.47%;
}

#u78732
{
	z-index: 28;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 49.61%;
	margin-left: 25.2%;
}

#u77588
{
	z-index: 26;
	background-color: transparent;
	margin-top: 26px;
	position: relative;
	width: 81.89%;
	margin-left: 9.19%;
}

#u78742
{
	z-index: 30;
	display: block;
	vertical-align: top;
	margin-top: 25px;
	position: relative;
	width: 93.97%;
	margin-left: 2.37%;
}

#u78752
{
	z-index: 32;
	display: block;
	vertical-align: top;
	margin-top: 21px;
	position: relative;
	width: 95.02%;
	margin-left: 2.37%;
}

#pu13744
{
	margin-top: 22px;
	width: 92.13%;
	margin-left: 3.42%;
}

#u13744
{
	z-index: 12;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 45.02%;
}

#u13737
{
	z-index: 10;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 35.05%;
	left: 64.96%;
}

#u13751
{
	z-index: 14;
	background-color: transparent;
	margin-top: 21px;
	position: relative;
	width: 47.25%;
	margin-left: 25.46%;
}

#u13758
{
	z-index: 16;
	background-color: transparent;
	margin-top: 21px;
	position: relative;
	width: 90.82%;
	margin-left: 4.73%;
}

#u13765
{
	z-index: 18;
	background-color: transparent;
	margin-top: 21px;
	position: relative;
	width: 87.67%;
	margin-left: 5.25%;
}

#u13806-4
{
	z-index: 20;
	min-height: 47px;
	background-color: transparent;
	color: #1976D2;
	font-size: 26px;
	line-height: 31px;
	font-weight: bold;
	margin-top: 25px;
	position: relative;
	width: 88.19%;
	margin-left: 4.73%;
}

#u13806
{
	text-decoration: underline;
}

#u13809
{
	z-index: 24;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 37.54%;
	margin-left: 30.19%;
}

#u78732_img,#u77588_img,#u13744_img,#u13737_img,#u13751_img,#u13758_img,#u13765_img,#u13809_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

