.version._3am /* version checker */
{
	color: #0000E1;
	background-color: #00B151;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.55px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 0px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u14047-4
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u14047-2
{
	padding-left: 16px;
	padding-top: 12px;
}

#u77716
{
	z-index: 24;
	background-color: transparent;
	margin-top: 24px;
	position: relative;
	width: 92.39%;
	margin-left: 3.68%;
}

#u14044-12
{
	z-index: 6;
	min-height: 65px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 24px;
	position: relative;
	width: 91.61%;
	margin-left: 4.47%;
}

#u14044-2,#u14044-4,#u14044-6,#u14044-8
{
	font-weight: bold;
}

#u77749
{
	z-index: 26;
	background-color: transparent;
	margin-top: 24px;
	position: relative;
	width: 92.39%;
	margin-left: 3.68%;
}

#u77759
{
	z-index: 28;
	background-color: transparent;
	margin-top: 26px;
	position: relative;
	width: 93.18%;
	margin-left: 3.42%;
}

#u14680
{
	z-index: 22;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 83.99%;
	margin-left: 7.88%;
}

#u77716_img,#u77749_img,#u77759_img,#u14680_img
{
	width: 100%;
}

#u14109-4
{
	z-index: 18;
	min-height: 65px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 25px;
	position: relative;
	width: 92.92%;
	margin-left: 3.42%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

