.version._3an /* version checker */
{
	color: #000011;
	background-color: #D4607A;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u78602-4
{
	z-index: 2;
	min-height: 114px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u78602-2
{
	padding-left: 16px;
	padding-top: 9px;
}

#u78611
{
	z-index: 12;
	background-color: transparent;
	margin-top: 36px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u78609
{
	z-index: 10;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u78605
{
	z-index: 6;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u78607
{
	z-index: 8;
	background-color: transparent;
	margin-top: 23px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u78611_img,#u78609_img,#u78605_img,#u78607_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

