.version._3bf /* version checker */
{
	color: #00000F;
	background-color: #1BB1B1;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u12790-4
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u12790-2
{
	padding-left: 21px;
	padding-top: 2px;
}

#u12805-4
{
	z-index: 6;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 27px;
	position: relative;
	width: 92.66%;
	margin-left: 3.68%;
}

#u12808
{
	z-index: 10;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 85.57%;
	margin-left: 7.09%;
}

#u12816
{
	z-index: 12;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 85.57%;
	margin-left: 7.09%;
}

#u12808_img,#u12816_img
{
	width: 100%;
}

#u12828-30
{
	z-index: 14;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 25px;
	position: relative;
	width: 92.66%;
	margin-left: 3.68%;
}

#u12828,#u12828-7,#u12828-13,#u12828-16,#u12828-24,#u12828-28
{
	font-weight: bold;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

