.version._3db /* version checker */
{
	color: #0000FD;
	background-color: #AA70B1;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.8000000000002px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 0px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u14834-6
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u14834-2,#u14834-4
{
	padding-left: 21px;
	padding-top: 2px;
}

#u80096
{
	z-index: 63;
	display: block;
	vertical-align: top;
	margin-top: 22px;
	position: relative;
	width: 92.92%;
	margin-left: 2.37%;
}

#u14831-12
{
	z-index: 8;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 22px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u14854
{
	z-index: 20;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
	width: 63.26%;
	margin-left: 17.07%;
}

#u79470-4
{
	z-index: 22;
	background-color: transparent;
	font-size: 26px;
	color: #1976D2;
	line-height: 31px;
	margin-top: 31px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u79473-10
{
	z-index: 26;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 16px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u79476
{
	z-index: 38;
	display: block;
	vertical-align: top;
	margin-top: 17px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u79478-4
{
	z-index: 40;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 27px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u79474
{
	z-index: 36;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
	width: 63.26%;
	margin-left: 18.38%;
}

#u14854_img,#u79474_img
{
	width: 100%;
}

#u79495-4
{
	z-index: 44;
	background-color: transparent;
	font-size: 26px;
	color: #1976D2;
	line-height: 31px;
	margin-top: 26px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u79498-15
{
	z-index: 48;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 18px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u79498-8,#u79498-12
{
	text-align: justify;
}

#u79498-13
{
	text-align: center;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

