.version._3dh /* version checker */
{
	color: #0000F0;
	background-color: #B939D8;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u15404-4
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 48px;
	color: #FFFFFF;
	line-height: 58px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u15404-2
{
	padding-left: 16px;
	padding-top: 9px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u15404
{
	font-size: 40px;
	line-height: 48px;
}

#u15405-7
{
	z-index: 6;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 26px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u79720
{
	z-index: 45;
	display: block;
	vertical-align: top;
	margin-top: 25px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u15428-4
{
	z-index: 13;
	background-color: transparent;
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	margin-top: 25px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u79710
{
	z-index: 43;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u79710_img
{
	width: 100%;
}

#u15440-26
{
	z-index: 17;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 25px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u15440-2,#u15440-4,#u15440-5
{
	color: #1976D2;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

