.version._3dk /* version checker */
{
	color: #0000FA;
	background-color: #ED5CD1;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.75px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 0px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u15766-4
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 48px;
	color: #FFFFFF;
	line-height: 58px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u15766-2
{
	padding-left: 16px;
	padding-top: 9px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u15766
{
	font-size: 40px;
	line-height: 48px;
}

#u15782-20
{
	z-index: 6;
	background-color: transparent;
	text-align: justify;
	margin-top: 25px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u15782-2,#u15782-4
{
	font-size: 26px;
	line-height: 31px;
	color: #1976D2;
	font-weight: bold;
}

#u15782-6,#u15782-8,#u15782-16,#u15782-18
{
	font-size: 24px;
	line-height: 29px;
}

#u79986-4
{
	z-index: 26;
	background-color: transparent;
	color: #1976D2;
	font-size: 26px;
	line-height: 31px;
	font-weight: bold;
	margin-top: 40px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u79989
{
	z-index: 30;
	background-color: transparent;
	margin-top: 17px;
	position: relative;
	width: 85.31%;
	margin-left: 7.35%;
}

#u79989_img
{
	width: 100%;
}

#u79999-16
{
	z-index: 32;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 25px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u15782-10,#u15782-14,#u79999-6
{
	font-weight: bold;
}

#u80002-6
{
	z-index: 48;
	background-color: transparent;
	color: #1976D2;
	font-size: 26px;
	line-height: 31px;
	font-weight: bold;
	margin-top: 55px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u80005-10
{
	z-index: 54;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 25px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u80005-2
{
	text-align: center;
	font-weight: bold;
}

#u80005-3,#u80005-5
{
	text-align: center;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

