.version._3dm /* version checker */
{
	color: #0000F2;
	background-color: #827BC0;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.5376544999999px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 0px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u15911-6
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 48px;
	color: #FFFFFF;
	line-height: 58px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u15911-2,#u15911-4
{
	padding-left: 21px;
	padding-top: 2px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u15911,#u15911-3
{
	font-size: 40px;
	line-height: 48px;
}

#u15912-7
{
	z-index: 8;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 25px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u79954-9
{
	z-index: 15;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 24px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u79954-2,#u79954-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u79954,#u79954-3
{
	font-size: 26px;
	color: #1976D2;
	font-weight: bold;
	line-height: 31px;
}

#u79954-4
{
	font-size: 26px;
	color: #1976D2;
	line-height: 31px;
}

#u79954-7
{
	text-align: justify;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

