.version.velocityselector /* version checker */
{
	color: #0000F4;
	background-color: #B1662C;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u78289-4
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u78289-2
{
	padding-left: 16px;
	padding-top: 15px;
}

#u78302
{
	z-index: 6;
	background-color: transparent;
	margin-top: 33px;
	position: relative;
	width: 82.42%;
	margin-left: 8.14%;
}

#u78304-4
{
	z-index: 8;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 25px;
	position: relative;
	width: 91.87%;
	margin-left: 4.2%;
}

#u78566
{
	z-index: 12;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 85.04%;
	margin-left: 6.83%;
}

#u78302_img,#u78566_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

