.version._6aad /* version checker */
{
	color: #0000F2;
	background-color: #598384;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.3573103960684px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 1px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 11px;
	padding-bottom: 71px;
	width: 100%;
}

#pu28123-4
{
	width: 99.48%;
	margin-left: -3.94%;
}

#u28123-4
{
	z-index: 2;
	min-height: 113px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	color: #FFFFFF;
	font-size: 40px;
	text-align: left;
	line-height: 48px;
	position: relative;
	margin-right: -10000px;
	width: 97.63%;
}

#u28123-2
{
	padding-left: 21px;
	padding-top: 15px;
}

#u28149
{
	z-index: 85;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	width: 91.56%;
	left: 8.45%;
}

#pu28138-51
{
	margin-top: 19px;
	width: 94.23%;
	margin-left: 2.89%;
}

#u28138-51
{
	z-index: 6;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	width: 99.73%;
}

#u28138-2,#u28138-4,#u28138-6,#u28138-8,#u28138-10,#u28138-11,#u28138-13,#u28138-15,#u28138-17,#u28138-19,#u28138-21,#u28138-23,#u28138-25
{
	text-align: center;
}

#u28138-26,#u28138-30,#u28138-32,#u28138-36,#u28138-38,#u28138-42,#u28138-43,#u28138-44,#u28138-45
{
	text-align: justify;
}

#u28138-47,#u28138-49
{
	text-align: center;
	font-weight: bold;
}

#u28159
{
	z-index: 87;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 798px;
	width: 100%;
}

#u28125-28
{
	z-index: 57;
	background-color: transparent;
	color: #000000;
	line-height: 29px;
	font-size: 24px;
	text-align: left;
	font-weight: normal;
	margin-top: 31px;
	position: relative;
	width: 93.97%;
	margin-left: 2.89%;
}

#u79696
{
	z-index: 101;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 60.9%;
	margin-left: 21.53%;
}

#u28179-4
{
	z-index: 89;
	background-color: transparent;
	color: #000000;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	margin-top: 24px;
	position: relative;
	width: 93.97%;
	margin-left: 2.89%;
}

#u79684
{
	z-index: 99;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 40.42%;
	margin-left: 31.76%;
}

#u28191-6
{
	z-index: 93;
	background-color: transparent;
	color: #000000;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	margin-top: 23px;
	position: relative;
	width: 93.97%;
	margin-left: 2.89%;
}

#u79706
{
	z-index: 103;
	background-color: transparent;
	margin-top: 41px;
	position: relative;
	width: 92.66%;
	margin-left: 4.47%;
}

#u79696_img,#u79684_img,#u79706_img
{
	width: 100%;
}

#u79716
{
	z-index: 105;
	display: block;
	vertical-align: top;
	margin-top: 31px;
	position: relative;
	width: 92.66%;
	margin-left: 4.2%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

