.version._6aae /* version checker */
{
	color: #00001B;
	background-color: #D4D293;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 11px;
	padding-bottom: 71px;
	width: 100%;
}

#u28218-6
{
	z-index: 2;
	min-height: 113px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	color: #FFFFFF;
	font-size: 40px;
	text-align: left;
	line-height: 48px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u28218-2
{
	padding-left: 21px;
	padding-top: 15px;
}

#u28218-4
{
	padding-left: 21px;
	padding-top: 5px;
}

#u28232-4
{
	z-index: 8;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 42px;
	position: relative;
	width: 93.97%;
	margin-left: 2.89%;
}

#u28266
{
	z-index: 28;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
	width: 51.97%;
	margin-left: 23.89%;
}

#u28266_img
{
	width: 100%;
}

#u28224-7
{
	z-index: 12;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 22px;
	position: relative;
	width: 93.97%;
	margin-left: 2.89%;
}

#u28276
{
	z-index: 30;
	display: block;
	vertical-align: top;
	margin-top: 20px;
	position: relative;
	width: 90.56%;
	margin-left: 4.47%;
}

#u28284
{
	z-index: 32;
	display: block;
	vertical-align: top;
	margin-top: 24px;
	position: relative;
	width: 90.56%;
	margin-left: 4.73%;
}

#u28229-9
{
	z-index: 19;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 22px;
	position: relative;
	width: 93.97%;
	margin-left: 2.89%;
}

#u28296
{
	z-index: 34;
	display: block;
	vertical-align: top;
	margin-top: 23px;
	position: relative;
	width: 94.49%;
	margin-left: 2.89%;
}

#u28304
{
	z-index: 36;
	display: block;
	vertical-align: top;
	margin-top: 23px;
	position: relative;
	width: 94.49%;
	margin-left: 3.15%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

