.version._6aaf /* version checker */
{
	color: #0000F0;
	background-color: #6A6B1B;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.7438272500003px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 0px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 11px;
	padding-bottom: 71px;
	width: 100%;
}

#u28351-6
{
	z-index: 2;
	min-height: 113px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	color: #FFFFFF;
	font-size: 40px;
	text-align: left;
	line-height: 48px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u28351-2,#u28351-4
{
	padding-left: 21px;
	padding-top: 5px;
}

#u28344-10
{
	z-index: 8;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	line-height: 29px;
	margin-top: 41px;
	position: relative;
	width: 93.97%;
	margin-left: 2.89%;
}

#u28344-2,#u28344-3,#u28344-4
{
	text-align: justify;
}

#u28344-6,#u28344-8
{
	text-align: center;
	font-weight: bold;
}

#u79726
{
	z-index: 26;
	background-color: transparent;
	margin-top: 24px;
	position: relative;
	width: 85.57%;
	margin-left: 7.09%;
}

#u79756
{
	z-index: 28;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
	width: 83.73%;
	margin-left: 8.14%;
}

#u28350-6
{
	z-index: 18;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	margin-top: 54px;
	position: relative;
	width: 93.97%;
	margin-left: 2.89%;
}

#u79776
{
	z-index: 30;
	display: block;
	vertical-align: top;
	margin-top: 23px;
	position: relative;
	width: 56.44%;
	margin-left: 21.79%;
}

#u28391
{
	z-index: 24;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
	width: 73.76%;
	margin-left: 13.13%;
}

#u79726_img,#u79756_img,#u28391_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

