.version._6aay /* version checker */
{
	color: #000002;
	background-color: #5B36CB;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 11px;
	padding-bottom: 71px;
	width: 100%;
}

#u29379-6
{
	z-index: 2;
	min-height: 113px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	color: #FFFFFF;
	font-size: 40px;
	text-align: left;
	line-height: 48px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u29379-2,#u29379-4
{
	padding-left: 21px;
	padding-top: 5px;
}

#u29378-20
{
	z-index: 8;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	line-height: 29px;
	margin-top: 50px;
	position: relative;
	width: 93.97%;
	margin-left: 3.15%;
}

#u29378-7,#u29378-9,#u29378-15,#u29378-16
{
	text-align: center;
	font-weight: bold;
}

#u29378-2,#u29378-4,#u29378-5,#u29378-10,#u29378-12,#u29378-13,#u29378-18
{
	text-align: justify;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

