.version._6ae /* version checker */
{
	color: #00001B;
	background-color: #E49FFB;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.8438272500005px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 0px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 11px;
	padding-bottom: 71px;
	width: 100%;
}

#u26586-4
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u26586-2
{
	padding-left: 24px;
	padding-top: 10px;
}

#u26592
{
	z-index: 6;
	display: block;
	vertical-align: top;
	margin-top: 52px;
	position: relative;
	width: 95.28%;
	margin-left: 2.1%;
}

#u79949-31
{
	z-index: 8;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 74px;
	position: relative;
	width: 93.97%;
	margin-left: 3.42%;
}

#u79949-2,#u79949-4,#u79949-5,#u79949-10,#u79949-12,#u79949-13,#u79949-18,#u79949-20,#u79949-21
{
	text-align: center;
	color: #1976D2;
}

#u79949-25
{
	color: #1976D2;
}

#u79949-23,#u79949-26,#u79949-27
{
	text-align: center;
	color: #000000;
}

#u79949-7,#u79949-8,#u79949-15,#u79949-16,#u79949-24,#u79949-29
{
	text-align: justify;
	color: #000000;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

