.version._6at /* version checker */
{
	color: #00001F;
	background-color: #4DDA8F;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 11px;
	padding-bottom: 71px;
	width: 100%;
}

#u27053-4
{
	z-index: 2;
	min-height: 113px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	color: #FFFFFF;
	font-size: 40px;
	text-align: left;
	line-height: 48px;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u27053-2
{
	padding-left: 21px;
	padding-top: 15px;
}

#u27076
{
	z-index: 42;
	background-color: transparent;
	margin-top: 18px;
	position: relative;
	width: 88.19%;
	margin-left: 5.78%;
}

#u27050-36
{
	z-index: 6;
	background-color: transparent;
	color: #000000;
	line-height: 29px;
	font-size: 24px;
	text-align: left;
	font-weight: normal;
	margin-top: 27px;
	position: relative;
	width: 93.97%;
	margin-left: 3.15%;
}

#u30619
{
	z-index: 85;
	background-color: transparent;
	margin-top: 24px;
	position: relative;
	width: 91.34%;
	margin-left: 4.47%;
}

#u27086-4
{
	z-index: 44;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	margin-top: 14px;
	position: relative;
	width: 93.97%;
	margin-left: 3.15%;
}

#u30629
{
	z-index: 87;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
	width: 88.19%;
	margin-left: 6.04%;
}

#u27076_img,#u30619_img,#u30629_img
{
	width: 100%;
}

#u27089-37
{
	z-index: 48;
	background-color: transparent;
	color: #000000;
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	margin-top: 20px;
	position: relative;
	width: 93.97%;
	margin-left: 3.15%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

