.version._6bea /* version checker */
{
	color: #00001A;
	background-color: #D40761;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 499px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 71px;
	width: 100%;
	max-width: 381px;
}

#u21971-4
{
	z-index: 2;
	min-height: 75px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	color: #FFFFFF;
	font-size: 40px;
	text-align: left;
	line-height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: -15px;
	width: 98.43%;
}

#u21971-2
{
	padding-left: 16px;
	padding-top: 12px;
}

#pu21989-8
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 112px;
	width: 96.33%;
	margin-left: 1.84%;
}

#u21989-8
{
	z-index: 6;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: justify;
	position: relative;
	width: 98.64%;
}

#u21989-2,#u21989-4
{
	font-weight: bold;
}

#u21992
{
	z-index: 14;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 91.01%;
	margin-left: 3.82%;
}

#u21999
{
	z-index: 16;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 91.01%;
	margin-left: 3.82%;
}

#u22010-19
{
	z-index: 18;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 25px;
	position: relative;
	width: 100%;
}

#u22013
{
	z-index: 37;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 100%;
}

#u22021
{
	z-index: 39;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 65.4%;
	margin-left: 17.17%;
}

#u22028
{
	z-index: 41;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 100%;
}

#u22063
{
	z-index: 45;
	background-color: transparent;
	margin-top: 21px;
	position: relative;
	width: 92.65%;
	margin-left: 3.55%;
}

#u22053
{
	z-index: 43;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 95.65%;
	margin-left: 2.18%;
}

#u22118
{
	z-index: 47;
	background-color: transparent;
	margin-top: 21px;
	position: relative;
	width: 95.65%;
	margin-left: 2.18%;
}

#u21992_img,#u21999_img,#u22013_img,#u22021_img,#u22028_img,#u22063_img,#u22053_img,#u22118_img
{
	width: 100%;
}

#u22127-8
{
	z-index: 49;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 24px;
	position: relative;
	width: 99.19%;
	margin-left: 0.28%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

