.version.index /* version checker */
{
	color: #000017;
	background-color: #6BB8E3;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 569.55px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 0px;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	margin-top: -15px;
	padding-bottom: 217px;
	width: 100%;
}

#u22995-4
{
	z-index: 10;
	min-height: 114px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 48px;
	line-height: 58px;
	color: #FFFFFF;
	position: relative;
	width: 107.88%;
	left: -3.94%;
}

#u22995-2
{
	padding-right: 45px;
	padding-left: 17px;
	padding-top: 31px;
}

#u22989-4
{
	z-index: 2;
	min-height: 86px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 56px;
	position: relative;
	width: 93.18%;
	margin-left: 2.89%;
}

#u22989-2
{
	padding: 15px 1px 15px 7px;
}

#u22990-4
{
	z-index: 6;
	min-height: 87px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 25px;
	position: relative;
	width: 93.18%;
	margin-left: 2.89%;
}

#u22990-2
{
	padding-bottom: 15px;
	padding-top: 15px;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

