.version._5am /* version checker */
{
	color: #000002;
	background-color: #EEF9FD;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	width: 100%;
	max-width: 381px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 71px;
	width: 100%;
}

#u18419-6
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	position: relative;
	width: 97.12%;
	left: -3.94%;
}

#u18419-2,#u18419-4
{
	padding-left: 16px;
	padding-top: 9px;
}

#u18422-4
{
	z-index: 8;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 38px;
	position: relative;
	width: 93.71%;
	margin-left: 3.15%;
}

#u18425
{
	z-index: 12;
	background-color: transparent;
	margin-top: 17px;
	position: relative;
	width: 90.56%;
	margin-left: 4.73%;
}

#u18433
{
	z-index: 14;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
	width: 90.56%;
	margin-left: 4.73%;
}

#u18440
{
	z-index: 16;
	background-color: transparent;
	margin-top: 17px;
	position: relative;
	width: 90.82%;
	margin-left: 4.73%;
}

#u18425_img,#u18433_img,#u18440_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

