.version._2a /* version checker */
{
	color: #00000F;
	background-color: #062583;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 499px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 71px;
	width: 100%;
	max-width: 381px;
}

#u10313-4
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	color: #FFFFFF;
	font-size: 48px;
	text-align: left;
	line-height: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: -15px;
	width: 106.83%;
}

#u10313-2
{
	padding-right: 16px;
	padding-left: 16px;
}

#pu10317-4
{
	margin-right: -10000px;
	margin-top: 125px;
	width: 93.44%;
	margin-left: 2.63%;
}

#u10317-4
{
	z-index: 6;
	min-height: 173px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	position: relative;
	width: 100%;
}

#u12321-4
{
	z-index: 10;
	min-height: 173px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 20px;
	position: relative;
	width: 100%;
}

#u12321-2
{
	padding-top: 30px;
}

#u12324-4
{
	z-index: 14;
	min-height: 173px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 20px;
	position: relative;
	width: 100%;
}

#u12325-4
{
	z-index: 18;
	min-height: 173px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 19px;
	position: relative;
	width: 100%;
}

#u12330-4
{
	z-index: 22;
	min-height: 173px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 20px;
	position: relative;
	width: 100%;
}

#u12331-4
{
	z-index: 26;
	min-height: 173px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 20px;
	position: relative;
	width: 100%;
}

#u12330-2,#u12331-2
{
	padding-top: 35px;
}

#u12336-4
{
	z-index: 30;
	min-height: 173px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-top: 19px;
	position: relative;
	width: 100%;
}

#u12325-2,#u12336-2
{
	padding-top: 40px;
}

#u12337-4
{
	z-index: 34;
	min-height: 173px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #607D8B;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	line-height: 44px;
	margin-top: 20px;
	position: relative;
	width: 100%;
}

#u10317-2,#u12324-2,#u12337-2
{
	padding-top: 50px;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

