.version._2ac /* version checker */
{
	color: #000006;
	background-color: #AED3A0;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 499px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 71px;
	width: 100%;
	max-width: 381px;
}

#u10511-4
{
	z-index: 2;
	min-height: 95px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: -15px;
	width: 93.71%;
}

#u10511-2
{
	padding-left: 16px;
}

#pu10514-4
{
	margin-right: -10000px;
	margin-top: 168px;
	width: 92.66%;
	margin-left: 3.68%;
}

#u10514-4
{
	z-index: 6;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	position: relative;
	width: 100%;
}

#u81198
{
	z-index: 16;
	display: block;
	vertical-align: top;
	margin-top: 16px;
	position: relative;
	width: 53.83%;
	margin-left: 23.23%;
}

#u81014-6
{
	z-index: 10;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 16px;
	position: relative;
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

