.version._2ae /* version checker */
{
	color: #00001B;
	background-color: #9B4FF2;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 499px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 71px;
	width: 100%;
	max-width: 381px;
}

#u11669-4
{
	z-index: 4;
	min-height: 107px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: -15px;
	width: 93.71%;
}

#u11669-2
{
	padding-left: 16px;
}

#pu80463
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 180px;
	width: 96.07%;
	margin-left: 1.84%;
}

#u80463
{
	z-index: 96;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u11672-38
{
	z-index: 8;
	display: block;
	vertical-align: top;
	margin-top: 20px;
	position: relative;
	width: 97.82%;
	margin-left: 1.64%;
}

#u11675-5
{
	z-index: 46;
	background-color: transparent;
	color: #1976D2;
	font-size: 24px;
	line-height: 29px;
	font-weight: normal;
	margin-top: 43px;
	position: relative;
	width: 97.55%;
	margin-left: 1.37%;
}

#u11675-2
{
	color: #1976D2;
}

#u10539
{
	z-index: 2;
	background-color: transparent;
	margin-top: 23px;
	position: relative;
	width: 97.82%;
	margin-left: 0.82%;
}

#u11678-4
{
	z-index: 51;
	background-color: transparent;
	font-size: 24px;
	color: #1976D2;
	line-height: 29px;
	margin-top: 52px;
	position: relative;
	width: 97.55%;
	margin-left: 0.82%;
}

#u11681-7
{
	z-index: 55;
	background-color: transparent;
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	margin-top: 15px;
	position: relative;
	width: 97%;
	margin-left: 1.37%;
}

#u11681-2
{
	font-weight: bold;
}

#u11684
{
	z-index: 62;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 97%;
	margin-left: 1.37%;
}

#u80463_img,#u10539_img,#u11684_img
{
	width: 100%;
}

#u11694-32
{
	z-index: 64;
	display: block;
	vertical-align: top;
	margin-top: 101px;
	position: relative;
	width: 97.27%;
	margin-left: 1.37%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

