.version._2ah /* version checker */
{
	color: #0000ED;
	background-color: #CB8F5D;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 499px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 71px;
	width: 100%;
	max-width: 381px;
}

#u10835-4
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: -15px;
	width: 93.71%;
}

#u10835-2
{
	padding-left: 16px;
}

#pu10838-56
{
	margin-right: -10000px;
	margin-top: 182px;
	width: 95.28%;
	margin-left: 2.37%;
}

#u10838-56
{
	z-index: 6;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	width: 98.63%;
	margin-left: 0.28%;
}

#u10838-10
{
	font-weight: bold;
}

#u10838-45
{
	color: #212121;
	font-weight: bold;
}

#u10838-2,#u10838-13,#u10838-15,#u10838-30,#u10838-49
{
	color: #1976D2;
	font-weight: bold;
}

#u10838-47
{
	color: #1976D2;
}

#u10838-44,#u10838-51,#u10838-52
{
	color: #212121;
	font-weight: normal;
}

#u10838-54
{
	color: #1976D2;
	font-weight: normal;
}

#u11871
{
	z-index: 62;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 99.18%;
	margin-left: 0.28%;
}

#u11873-5
{
	z-index: 64;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 37px;
	position: relative;
	width: 99.45%;
	margin-left: 0.56%;
}

#u11874
{
	z-index: 69;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
	width: 99.18%;
}

#u81103
{
	z-index: 71;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 96.42%;
	margin-left: 1.38%;
}

#u11871_img,#u11874_img,#u81103_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

