.version._2ai /* version checker */
{
	color: #0000F7;
	background-color: #89F57F;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 499px;
	-pie-box-shadow: 6px 6px 8px #101010;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #CFD8DC;
	padding-bottom: 71px;
	width: 100%;
	max-width: 381px;
}

#u10939-4
{
	z-index: 2;
	min-height: 80px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1976D2;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: -15px;
	width: 93.71%;
}

#u10939-2
{
	padding-left: 16px;
}

#pu11917
{
	margin-right: -10000px;
	margin-top: 126px;
	width: 97.12%;
	margin-left: 1.58%;
}

#u11917
{
	z-index: 17;
	background-color: transparent;
	position: relative;
	width: 97.84%;
	margin-left: 1.09%;
}

#u80993
{
	z-index: 45;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
	width: 97.57%;
	margin-left: 1.36%;
}

#u10942-11
{
	z-index: 6;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 21px;
	position: relative;
	width: 97.57%;
	margin-left: 1.09%;
}

#u81208
{
	z-index: 64;
	display: block;
	vertical-align: top;
	margin-top: 21px;
	position: relative;
	width: 99.73%;
}

#u81124-17
{
	z-index: 47;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 25px;
	position: relative;
	width: 97.57%;
	margin-left: 1.09%;
}

#u81124-7,#u81124-9,#u81124-10
{
	color: #212121;
	font-weight: normal;
}

#u81124-11
{
	color: #212121;
	font-weight: bold;
}

#u81124-2,#u81124-13
{
	color: #1976D2;
	font-weight: bold;
}

#u81124-15
{
	color: #000000;
	font-weight: bold;
}

#u11928
{
	z-index: 19;
	background-color: transparent;
	margin-top: 26px;
	position: relative;
	width: 88.92%;
	margin-left: 5.41%;
}

#u79957-8
{
	z-index: 37;
	min-height: 85px;
	background-color: transparent;
	color: #212121;
	font-size: 24px;
	line-height: 29px;
	font-weight: normal;
	margin-top: 38px;
	position: relative;
	width: 97.57%;
	margin-left: 1.09%;
}

#u11938-4
{
	z-index: 21;
	background-color: transparent;
	font-size: 24px;
	color: #1976D2;
	line-height: 29px;
	margin-top: 85px;
	position: relative;
	width: 97.57%;
	margin-left: 1.09%;
}

#u11941-10
{
	z-index: 25;
	min-height: 317px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 18px;
	position: relative;
	width: 97.57%;
	margin-left: 1.36%;
}

#u11944
{
	z-index: 35;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 84.6%;
	margin-left: 7.57%;
}

#u11917_img,#u80993_img,#u11928_img,#u11944_img
{
	width: 100%;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
	min-width: 260px;
	padding: 15px;
}

